[NonRelational Database Details]
db_name: twitch_01
monitoring_collection_name: monitored_streams
migrations_collection_name: stream_migrations
viewercount_collection_name: stream_viewcount
hostname: localhost
user: root
